@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
.swiper-button-next,
.swiper-button-prev {
  color: #22d3ee !important;
  transition: 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}